@model List<BJB_Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <p>There are no customers yet.</p>
}
else
{
    <table>
        <thead>
        <tr>
            <th>Customer</th>
            <th>MembershipType</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

